<div class="media-content">
    {{#each this}}
    <div class="content has-text-black-bis">
        <p>
            <strong>{{question.title}}</strong> <small>{{format_date created_at}}</small>
            <br>
            {{question.content}}
        </p>
    </div>
    <nav class="level is-mobile">
        <div class="level-left">
            <a class="level-item">
                {{!-- save images --}}
                <span class="icon is-small"><i class="fas fa-reply"></i></span>
            </a>
            <a class="level-item">
                <span class="icon is-small"><i class="fas fa-rsetweet"></i></span>
            </a>
            <a class="level-item">
                <span class="icon is-small"><i class="fas fa-heart"></i></span>
            </a>
        </div>
    </nav>
    {{/each}}
</div>