<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Study Mouse</title>
    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
   
</head>

<body>
    <section class="hero is-medium is-dark is-bold is-fullheight">
        <!-- Hero head: will stick at the top -->
        <div class="hero-head">
            <header class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item">
                            <a class="has-text-weight-semibold has-text-white is-size-3" href="/">Study Mouse</a>
                        </a>
                        <div class="navbar-burger burger" data-target="topNav">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <div id="topNav" class="navbar-menu">
                        <div class="navbar-start">
                            <a class="navbar-item" href="/">Home</a>
                            <a class="navbar-item" href="/dashboard">Dashboard</a>
                        </div>
                        <div class="navbar-end">
                            <div class="navbar-item">
                                <div class="field is-grouped">
                                    {{#if loggedIn}}
                                    <p class="control">
                                        <a class="button is-small is-light is-outlined" id="logout" href="/login">
                                            <span class="has-text-white">Logout</span>
                                        </a>
                                    </p>
                                    {{else}}
                                    <p class="control">
                                        <a class="button is-small" href="/signup">
                                            <span class="icon">
                                                <i class="fa fa-user-plus"></i>
                                            </span>
                                            <span>
                                                Sign Up
                                            </span>
                                        </a>
                                    </p>
                                    <p class="control">
                                        <a class="button is-small is-light is-outlined" href="/login">
                                            <span class="has-text-white">Login</span>
                                        </a>
                                    </p>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </div>

        <!-- Hero content: will be in the middle -->
        <div class="hero is-large has-text-dark">
            <div class="column">
                    {{#if loggedIn}}
                    <div class="box content">
                        {{/if}}
                        {{{body}}}
                    </div>
                </div>
            </div>
        </div>

        <!-- Hero footer: will stick at the bottom -->
        <div class="hero-foot">
            <div class="content has-text-centered has-text-light">
                <p>
                    © <a class="has-text-link-light" href="https://github.com/MahmoudAbdulrhman/">Mahmoud
                        Abdulrhman</a>, <a class="has-text-link-light" href="https://github.com/daejo">David
                        Joaquin</a>, <a class="has-text-link-light" href="https://github.com/itsrheine/">Marrione
                        Nguyen</a>
                </p>
            </div>
        </div>
    </section>
</body>

{{#if loggedIn}}
<script src="/javascripts/logout.js"></script>
{{/if}}

</html>