<article class="column">
  <div class="column">
    <a href="/dashboard" class="is-pulled-right"> &larr; back to dashboard</a>
    <h2 class="subtitle is-5">POST A QUESTION</h2>
    <hr>
    <form class="new-question-form ">
      <div>
        <label for="title">Title:</label>
        <input class="input" type="text" id="title" name="title" placeholder="TITLE" />
      </div>
      <div>
        <label for="content">Content:</label>
        <input class="textarea is-large" id="content" name="content" placeholder="CONTENT" />
      </div>
      <BR>
      <button type="submit" class="button is-primary is-pulled-right">POST</button>
    </form>
  </section>


  <script src="/javascripts/add-question.js"></script>
