

<section>
    <a href="/dashboard" class="is-pulled-right"> &larr; back to dashboard</a>
  <h2 class="title">add a new post</h2><hr>

  <form class="new-question-form ">
    <div>
      <label for="title">title:</label>
      <input class="textarea" type="text" id="title" name="title" placeholder="insert blog title here"/>
    </div>
    <div>
      <label for="content">content:</label>
      <input class="textarea is-large" id="content" name="content" placeholder="insert blog content here"/>
    </div>
    <button type="submit" class="button is-primary is-pulled-right">create question</button>
  </form>
</section>


<script src="/javascripts/add-question.js"></script>