{{!-- {{#if loggedIn}}
<article class="media is-flex-direction-column is-four-fifths">
    <div class="media-content">
        <div class="content has-text-white-ter">
            <div class="media-right">
                <button class="delete"></button>
                {{#each questions as |question|}}
                <p>
                    <p class="has-text-warning">{{user.username}}</p> <small class="has-text-warning">{{format_date created_at}}</small>
                    <br>
                    {{> question-info question}}
                </p>
            </div>
        </div>
    </div>
    {{/each}}
</article>

<script src="/javascripts/delete.js"></script>
{{/if}} --}}

<div class="has-background-white column justify-content-between ">
    <a href="/dashboard/add/"><button id="create-question" class="button is-primary is-pulled-right">POST A
            QUESTION</button></a>
    <h2 class="subtitle is-5 has-text-dark mt-1">YOUR INQUIRIES</h2>
    <hr>

    <article class="column data-content">

        {{#if questions.length}}
        {{#each questions as |question|}}
        {{> question-info question}}

        {{/each}}
        {{else}}
        
        <h6 class="pb-4 has-text-centered is-italic">YOU HAVE NO QUESTIONS POSTINGS AT THE MOMENT</h6>

        {{/if}}
    </article>
</div>

<script src="/javascripts/rating.js"></script>
