<div class="media-content ">
    <a href="/dashboard/create/"><button id="create-question" class="button is-primary is-pulled-right">create post</button></a>
    <section class="section has-background-grey-lighter ">
        <div class="container has-text-centered ">
            <div class="columns">
                <div class="column">
                    <h4 class="title is-spaced is-4 has-text-dark">Question Title Placeholder</h4>
                    <p class="subtitle is-6 has-text-dark">Question Content Placeholder
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>