<div class="container">
    <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop is-4-widescreen">
            <p>Main is the only Handlebars</p>
            {{#if loggedIn}}
            {{/if}}
        </div>
    </div>
</div>