

{{#if loggedIn}}
<article class="media is-flex-direction-column is-four-fifths">
    <div class="media-content">
        <div class="content has-background-grey-lighter has-text-dark">
            <div class="media-right">
                <button class="delete"></button>
                {{#each questions as |question|}}
                <p>
                    <strong>{{user.username}}</strong> <small>{{format_date created_at}}</small>
                    <br>
                    {{> question-info question}}
                </p>
            </div>
        </div>
    </div>
    {{/each}}
</article>

<script src="/javascripts/delete.js"></script>
{{/if}}