
{{#if Questions}}
<div class="media-content ">
    <section class="section has-background-grey-lighter ">
        <div class="container has-text-centered ">
            <div class="columns">
                <div class="column">
                    <h4 class="title is-spaced is-4 has-text-dark">Question Title Placeholder</h4>
                    <p class="subtitle is-6 has-text-dark">{{content}}
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>
{{/if}}
