<article>
  <a href="/dashboard" class="is-pulled-right"> &larr; back to dashboard</a>
  <h2 class="title subtitle is-5 has-text-dark mt-1">EDIT QUESTION</h2>
  <hr>
  
  <form class="edit-question-form">
    <a class="btn btn-primary btn-lg delete-question-btn has-text-grey-light is-pulled-right"><i
        class="fa fa-trash"></i></a>
    <div>
      <label for="questions-title">Title:</label>
      <input class="input form-control" name="questions-title" type="text" value="{{question.title}}" />
    </div>
    <div>
      <label for="question-content">Question:</label>
      <input class="textarea form-control" name="question-content" value="{{question.content}}" />
    </div>
    <button type="submit" class="button is-small is-dark is-outlined is-pulled-right">save question</button>
  </form>
</article>
<hr>

<script src="/javascripts/edit.js"></script>
<script src="/javascripts/delete-question.js"></script>