
    <div class="test">Main is the only handlebar is the layout</div>
 
<ul class="rating">
   <li class="rating-item" data-rate="1"></li>
   <li class="rating-item active" data-rate="2"></li>
   <li class="rating-item" data-rate="3"></li>
   <li class="rating-item" data-rate="4"></li>
   <li class="rating-item" data-rate="5"></li>
</ul>
    
    <script src="/javascripts/rating.js"></script>
