
    <h1>Main is the only handlebar is the layout</h1>
 
<ul class="rating">
   <li class="rating-item" data-rate="1"></li>
   <li class="rating-item" data-rate="2"></li>
   <li class="rating-item" data-rate="3"></li>
   <li class="rating-item" data-rate="4"></li>
   <li class="rating-item" data-rate="5"></li>
</ul>
    
    <script src="/javascript/rating.js"></script>
