<div class="container">
    <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop is-4-widescreen">
            <form action="" class="box login-form is-centered">
                <div class="field">
                    <label for="username-login" class="label">Username</label>
                    <div class="control has-icons-left">
                        <input type="username" placeholder="e.g. johnsmith123" class="input" id="username-login"
                            required>
                        <span class="icon is-small is-left">
                            <i class="fa fa-user"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <label for="password-login" class="label">Password</label>
                    <div class="control has-icons-left">
                        <input type="password" placeholder="*******" id="password-login" class="input" required>
                        <span class="icon is-small is-left">
                            <i class="fa fa-lock"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <label for="" class="checkbox">
                        <input type="checkbox">
                        Remember me
                    </label>
                </div>
                <div class="field">
                    <button type="submit" class="button is-success">
                        Login
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/javascripts/login.js"></script>

{{!-- CREATE A LOGOUT JS --}}