 {{> question-info question }}

{{#if loggedIn}}
<form class="answer-form">
  <div>
    <textarea name="answer-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>
{{/if}}

{{> answers question.answers}}

{{#if loggedIn}}
<script src="/javascripts/answer.js"></script>
<script src="/javascripts/rating.js"></script>
{{/if}}
