<h2 class="subtitle is-5 has-text-dark mt-1">ANSWERS</h2>
<hr>

{{> question-info question }}

{{> answers question.answers}}

{{#if loggedIn}}
<br>
<form class="answer-form">
  <div>
    <label for="content has-text-weight-bold">ANSWER:</label>
    <input class="textarea is-normal" id="content" name="answer-body" placeholder="CONTENT" />
    <p>
      <button type="submit" class="button is-small is-dark is-outlined is-pulled-right">SUBMIT</button>
    </p>
  </div>
</form>


{{/if}}

{{#if loggedIn}}
<script src="/javascripts/answer.js"></script>
<script src="/javascripts/rating.js"></script>
{{/if}}