<article>
  <a href="/dashboard" class="is-pulled-right"> &larr; back to dashboard</a>
  <h2 class="title subtitle is-5 has-text-dark mt-1">SUBMIT AN ANSWER</h2>
  <hr>

  {{> question-info question }}
</article>

<div>
  {{> answers question.answers}}
</div>

{{#if loggedIn}}

<form class="answer-form">
  <div>
    <label for="content has-text-weight-bold">ANSWER:</label>
    <input class="textarea is-normal answer-body" id="content" name="answer-body" placeholder="Answer here" />
    <p>
      <button type="submit" class="button is-small is-dark is-outlined is-pulled-right">SUBMIT</button>
    </p>
  </div>
</form>
{{/if}}
<hr>

<script src="/javascripts/answer.js"></script>
<script src="http://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
<script src="/javascripts/rating.js"></script>
<script src="/javascripts/logout.js"></script>

{{!--  


<article>
  <a href="/dashboard" class="is-pulled-right"> &larr; back to dashboard</a>
  <h2 class="subtitle is-5 has-text-dark">ANSWERS</h2>
  <hr>

  {{> question-info question }}
  {{> answers question.answers}}

  <div class="column">
    <form class="answer-form">
      <div>
        <label for="content">ANSWER:</label>
        <input class="textarea is-large" id="content" name="answer-body" placeholder="ANSWER" />
      </div>
      <p>
        <button type="submit" class="button is-small is-dark is-outlined">SUBMIT</button>
      </p>
    </form>
  </div>
</article>
<hr>

{{#if loggedIn}}
<script src="/javascripts/answer.js"></script>
<script src="http://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
<script src="/javascripts/rating.js"></script>
<script src="/javascripts/logout.js"></script>
{{/if}} --}}