
{{> question-info question }}

<div class="container">
  <div class="row">
    <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
      <div class="px-2">
        <form id="answer-form" class="answer-form justify-content-center">
          <label class="sr-only">Title</label>
            <textarea type="text" name="answer-body" id="answer-body" class="form-control" placeholder="Add a answer"></textarea>
          <div> <br>
            <button type="submit" class="btn btn-dark">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{{> answers post.answers}}

{{#if loggedIn}}
<script src="/javascript/answer.js"></script>
{{/if}}
