<h2 class="subtitle is-5 has-text-dark mt-1">ANSWERS</h2>
<hr>

{{> question-info question }}

{{> answers question.answers}}

{{#if loggedIn}}
<br>
<form class="answer-form">
  <div>
    <label for="content has-text-weight-bold">ANSWER:</label>
    <input class="textarea is-normal answer-block" id="content" name="answer-body" placeholder="CONTENT" />
    <p>
      <button type="submit" class="button is-small is-dark is-outlined is-pulled-right">SUBMIT</button>
    </p>
  </div>
</form>

{{/if}}

{{#if loggedIn}}
<script src="/javascripts/answer.js"></script>
 <script
 src="http://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
  crossorigin="anonymous"></script>
<script src="/javascripts/rating.js"></script>
<script src="/javascripts/logout.js"></script>
{{/if}}